<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.windowsoverlay">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <service android:name=".overlayservice"
            android:exported="false" />

    </application>

</manifest>
